<div class="pure-g">
  <div class="pure-u-1 intro"><h2 id="jumbo">Create Dynamic Surveys</h2><h4 id="jumbo_comment">Fast, hassle-free suvery creation in minutes</h4>
    <a class="pure-button" id="intro_button" href="#">Sign Up</a>
  </div>
</div>

<div class="pure-g">
  <div class="pure-u-1">
    <h3 id="survey-head"> Browse Surveys </h3>
  </div>
</div>

<div class="pure-g">
  <div class="pure-u-1-5 home-browse"><p>Col 1</p></div>
  <div class="pure-u-1-5 home-browse"><p>Col 2</p></div>
</div>