<div class="new_question">
  <input type="text" name="question[0]" placeholder="question">
  <div class="new_option_wrapper">
  </div>
  <div class='option_btn'>
    <input class="new_option_button" type="button" value="add option">
  </div>
</div>

