<div class="new_question">
  <input type="text" name="question[0]" placeholder="question">
  <input class="new_option_button" type="button" value="add option">
  <%= erb :'surveys/_new_option' %>
</div>

