<h2 id="new"> Create a new Survey </h2>

<div id="new_survey">
  <form action="/surveys" method="POST">
    <input type="text" name="title" placeholder="title" required>
    <br>
    <% count = 0 %>
    <%= erb :"surveys/_new_question", locals: {count: count} %>
    <br>
    <input id="new_question_button" type="button" value="Add question"class="pure-button pure-button-primary">
    <br>
    <br>
    <input type="submit" value="Create" class="pure-button pure-button-primary">
  </form>
</div>


