<div id="new_survey">
  <form action="/surveys" method="POST">
    <input type="text" name="title" placeholder="title" required>
    <div id="question_wrapper">
      <%= erb :'surveys/_new_question' %>
      <input id="new_question_button" type="submit" value="add question">
    </div>
    <input type="submit" value="create">
  </form>
</div>
