<div id="new_survey">
  <form action="/surveys" method="POST">
    <input type="text" name="title" placeholder="title" required>
      <% count = 0 %>
      <%= erb :"surveys/_new_question", locals: {count: count} %>
      <input id="new_question_button" type="button" value="add question" >
    <input type="submit" value="create">
  </form>
</div>
