<form class="pure-form pure-form-aligned" action='/login' method='POST'>

  <div class="pure-control-group">
    <label for="name">Username</label>
    <input id="name" type="text" name= 'name' placeholder="Username" required>
  </div>

  <div class="pure-control-group">
    <label for="password">Password</label>
    <input id="password" type="password" name='password' placeholder="Password" required>
  </div>

    <input type= 'submit' class="pure-button pure-button-primary">

</form>