<div class="pure-g">
  <div class="pure-u-1-1 signin">
   <form action='/login' method='POST'>
    <p>Username: <input type= 'text' name= 'name'></p>
    <p>Password:  <input type= 'password' name='password'></p>
    <input type= 'submit'>
  </form>
  </div>
</div>