<form action="/signup" method="POST">
  <label>Username:</label>
  <input type="text" name="user[name]" required>
  <label>Password:</label>
  <input type="password" name="user[password]" required>
  <label>Confirm Password:</label>
  <input type="password" name="user[password_confirmation]" required>
  <input type="submit">
</form>
